<% if flash[:error] %>
<div class="errors flash fatal">
    <h4 class="error"><%= flash[:error] %></h4>
    
</div>
<% elsif flash[:success]%>
<div class="success alert">
    <h4 class="success"><%= flash[:success] %></h4>
    
</div>
<% end %>

<div class="container">
  <br>
  <br>
  <br>
  <form action="/signup" method="POST">
    <div class="row justify-content-md-center">    
        <input type="text" name="name" placeholder="Name:" required>
    </div> 
    <br>
    <div class="row justify-content-md-center">    
        <input type="email" name="email" placeholder="Email:" required>
    </div> 
    <br>
    <div class="row justify-content-md-center">    
        <input type="password" name="password" placeholder="Password:" required>
    </div> 
    <br>
    <div class="row justify-content-md-center">    
        <input type="password" name="password-confirmation" placeholder="Type Password Again:" required>
    </div> 
    <br>
    <div class="row justify-content-md-center"> 
        <input type="submit" class="btn btn-primary" value="Create Account">
    </div>
</form>
</div>
          
       

