<h1>Create a new neighborhood to follow</h1>
        <form action="/neighborhoods/new" method="POST">
        <label>Neighborhood Name: </label>
            <br>
        <input type="text" name="neighborhood[neighborhood_name]" id="neighborhood_name"></input>
            <br><br>
        <label>City: </label>
            <br>
        <input type="text" name="neighborhood[city]" id="neighborhood_city"></input>
            <br><br>
        <label>State: </label>
            <br>
        <input type="text" name="neighborhood[state]" id="neighborhood_state"></input>
            <br><br>
        <input type="submit" value="Submit">
        </form>