<!DOCTYPE html>
<html>
<head>
<style> 
body {
  background-color: white;
  color: black;
  font-size: 40px;
  font-weight: bold;
}
.login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight: bold;
  width: "50%";
}
</style>
</head>

<body>
    <p class="login">Welcome to your Neighborhood.</p>
        <form action="/login" method="POST">
	        <input type="text" name="email" placeholder="Email:">
	        <input type="password" name="password" placeholder="Password:">
            <input type="submit" value="Log In">
        </form>
    <p class="signup"</p>
        <form action="/signup" method="POST">
            <input type="submit" value="Create New Account">
        </form>
</body>
</html>