<!DOCTYPE html>
<html>
<head>
<style> 

.login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight: bold;
  width: "50%";
}
</style>
</head>

<body>
    <p class="login">Welcome to your Neighborhood.</p>
        <form action="/login" method="POST">
	        <input type="text" name="email" placeholder="Email:">
	        <input type="password" name="password" placeholder="Password:">
            <input type="submit" value="Log In">
        </form>
    <p class="signup"</p>
      <form method="get" action="/signup">
        <button type="submit">Create New Account</button>
      </form>
</body>
</html>