<!DOCTYPE html>
<html>
<head>
<style> 

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  font-weight: bold;
  width: "50%";
  text-align: center;
  font-family: "Chalkduster";
   
}

.controls {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-weight: normal;
  width: "50%";
  text-align: center;
  font-family: "Arial";
}
</style>
</head>

<body>
    <div class="logo">
      <p class="text-primary">Neighborhood</p>
    </div>
    </br>
    </br>
    <div class="card text-center">
      <form action="/login" method="POST">
       
        <div class="row justify-content-md-center">    
          <input type="email" name="email" placeholder="Email:" required>
        </div> 
        </br>
        <div class="row justify-content-md-center">  
          <input type="password" name="password" placeholder="Password:" required>
        </div>
        </br>
        <div class="row justify-content-md-center"> 
          
          <input type="submit" class="btn btn-primary" value="Log In">
        </div>
      </form>

      </br>
      </div>
      </br>
        
      <div class="row justify-content-md-center"> 
        <form method="get" action="/signup">
          <button type="submit" class="btn btn-success">Create New Account</button>
        </form>
      </div>
   
</body>
</html>