<!DOCTYPE html>
<html>
<head>
<style> 

.login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight: bold;
  width: "50%";
  text-align: center;
  font-family: "Monaco";
}
</style>
</head>

<body>
    <p class="login">WELCOME TO </p>

        <form action="/login" method="POST">
	        <input type="email" name="email" placeholder="Email:" required>
	        <input type="password" name="password" placeholder="Password:" required>
          <input type="submit" value="Log In">
        </form>
    <p class="signup"</p>
      <form method="get" action="/signup">
        <button type="submit">Create New Account</button>
      </form>
</body>
</html>